.invitation-form {
    width: 300px;
    margin: auto;
    height: 400px;
    padding: 30px 40px;
    box-sizing: border-box;
    text-align: center;
    >h3 {
        margin-bottom: 30px;
    }
    .form-button {
        margin-top:20px;
        width: 100%;
    }
}